@import "tailwindcss";

.perspective {
  perspective: 1000px;
}

.rotate-x-90 {
  transform: rotateX(90deg);
}

.group:hover .group-hover\:rotate-x-90 {
  transform: rotateX(90deg);
}

.group:hover .group-hover\:rotate-x-0 {
  transform: rotateX(0deg);
}


